body {
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
    }
    header{
        background: url(fondo.jpg)no-repeat;
        background-size: cover;
        height: 200px;
        overflow: hidden;
    }
    h1 {
        text-align: center;
        font-family:'Bangers', cursive;
        color:cadetblue;
        font-size: 70px;
        text-shadow: 5px 3px 8px white;
    }
    nav {
        margin: auto;
        width: 500px;
        font-family: "Comic Sans MS";
    
    }
    ul {
        list-style: none;
    }
    .nav li a {
        background-color:white;
        color:cornflowerblue;
        text-decoration: none;
        padding: 10px 40px;
        display: block;
        overflow: hidden;
        border-bottom: 2px solid cornflowerblue;
        padding-bottom: 10px;
        display: inline-block;
    }
    .nav li a:hover {
    background-color:gainsboro;
    }
    
    .nav > li {
        float: left;
    }
    .nav li ul {
        display:none;
        flex-wrap: wrap;
        position: absolute;
        min-width: 140px;
    }
    .nav li:hover > ul {
    display: block;
    }

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box
}
h2{
    font-family: 'Courier New', Courier, monospace ;
    color: darkcyan;
}
p {
font-family:"Comic Sans MS";
color: rgb(1, 17, 46);
background-size: 10px;
}
ol li {
    font-family:"Comic Sans MS";
color: rgb(1, 17, 46);
background-size: 10px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.footer {
    background-image: url(fondo.jpg);
    background-size: cover;
    padding: 80px 0;
}
.footer-row {
    display: flex;
    flex-wrap: wrap;
}
.footer-links {
    width: 25%;
    padding: 0 15px;
}
.footer-links h4 {
    font-size: 20px;
    color:rgb(2, 54, 56);
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    display: inline-block;
}
.footer-links ul li a {
    font-size: 10px;
    text-decoration: none;
    color: black;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}
.footer-links ul li a:hover {
    color:white;
    padding-left: 6px;
}
address a {
    font-size: 10px;
    text-decoration: none;
    color: black;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
    
}
.social-link a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: black;
    transition: all .5s ease;
}
.social-link a:hover {
    background-color: white;
}
@media(max-width:991px){
    .footer-row {
        text-align: center;
    }
    .footer-links {
        width: 100%;
        margin-bottom: 30px;
    }
}